aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.2.0
azure-core==1.14.0
azure-storage-blob==12.8.1
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
chromedriver-py==91.0.4472.19
cryptography==3.4.7
idna==3.2
isodate==0.6.0
msrest==0.6.21
multidict==5.1.0
oauthlib==3.1.0
pycparser==2.20
python-dotenv==0.17.1
requests==2.25.1
requests-oauthlib==1.3.0
selenium==3.141.0
six==1.16.0
typing-extensions==3.10.0.0
urllib3==1.26.5
yarl==1.6.3
